page-login {
  .login-background {
    background-color: #26c358;
  }
  .logo-text {
    text-align: center;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 9rem;
    top: 150px;
  }
}
