<ion-header>

  <ion-navbar color="primary">
    <ion-title>Sign Up</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="registerForm">

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label floating>Email</ion-label>
            <ion-input type="text" formControlName="email" email></ion-input>
          </ion-item>
          <div class="error-validation" *ngIf="registerForm.get('email').hasError('required') && registerForm.get('email').touched">
            Email is required
          </div>
          <div class="error-validation" *ngIf="registerForm.get('email').hasError('email') && registerForm.get('email').touched">
            Input must be an email
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label floating>Password</ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
          </ion-item>
          <div class="error-validation" *ngIf="registerForm.get('password').hasError('required') && registerForm.get('password').touched">
            Password is required
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label floating>Confirm Password</ion-label>
            <ion-input type="password" formControlName="confirmPassword"></ion-input>
          </ion-item>
          <div class="error-validation" *ngIf="registerForm.get('confirmPassword').hasError('required') && registerForm.get('confirmPassword').touched">
            Confirm Password is required
          </div>
          <div class="error-validation" *ngIf="registerForm.get('confirmPassword').hasError('passwordMatch') && registerForm.get('confirmPassword').touched">
            Password does not match
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label floating>Full Name</ion-label>
            <ion-input type="text" formControlName="fullName"></ion-input>
          </ion-item>
          <div class="error-validation" *ngIf="registerForm.get('fullName').hasError('required') && registerForm.get('fullName').touched">
            Full Name is required
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label floating>Contact Number</ion-label>
            <ion-input type="text" formControlName="contactNumber"></ion-input>
          </ion-item>
          <div class="error-validation" *ngIf="registerForm.get('contactNumber').hasError('required') && registerForm.get('contactNumber').touched">
            Contact Number is required
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <button type="submit" ion-button block round color="primary" (click)="signup()" [disabled]="registerForm.invalid">Sign Up</button>
        </ion-col>
      </ion-row>
    </ion-grid>

  </form>
</ion-content>