<ion-searchbar (ionInput)="getPending($event)"></ion-searchbar>
<ion-list>
  <ion-item>
    <ion-avatar item-start>
      <img src="assets/imgs/logo.png">
    </ion-avatar>
    <h2>JohnDoe@gmail.com</h2>
    <p>January 1, 2018</p>
    <p>Inquiry Number : 12312312</p>
    <button ion-button clear color="primary" item-end (click)="process()">
      PROCESS
    </button>
  </ion-item>

  <ion-item>
    <ion-avatar item-start>
      <img src="assets/imgs/logo.png">
    </ion-avatar>
    <h2>JohnDoe@gmail.com</h2>
    <p>January 2, 2018</p>
    <p>Inquiry Number : 12312312</p>
    <button ion-button clear color="primary" item-end (click)="process()">
      PROCESS
    </button>
  </ion-item>

  <ion-item>
    <ion-avatar item-start>
      <img src="assets/imgs/logo.png">
    </ion-avatar>
    <h2>JohnDoe@gmail.com</h2>
    <p>January 3, 2018</p>
    <p>Inquiry Number : 12312312</p>
    <button ion-button clear color="primary" item-end (click)="process()">
      PROCESS
    </button>
  </ion-item>

</ion-list>